.popover {
	.popover-body {
		background-color: $mm-text-white;
		color: $mm-market-important;
	}
	.arrow {
		visibility: hidden;
	}
}

.important-markets-menu, .alerts-markets-menu, .confirmations-markets-menu, .filter-markets-menu {
	display: inline;
}

#importantPopover, #alerts-popover, #confirmationsPopover {
	display: inline;
	.popover {
		max-width:400px;
	}
}

.confirmations-modal {
	.modal-dialog {
  		max-width: 1000px;
	}
}