.popover {
	.popover-body {
		background-color: $mm-text-white;
		color: $mm-market-important;
	}
	.arrow {
		visibility: hidden;
	}
}

.Important-markets-menu, .Alerts-markets-menu, .Confirmations-markets-menu {
	display: inline;
}