.popover {
	.popover-body {
		background-color: $mm-text-white;
		.popover-over-text {
			color: $mm-market-important !important;
		}
		button.selected {
			background-color: darken($mm-market-important, 10%);
		}
		.bulk-no-cares {
			label {
				padding-top: 3px;
			}
		}
	}
	.arrow {
		visibility: hidden;
	}
}

.important-markets-menu, .alerts-markets-menu, .confirmations-markets-menu, .filter-markets-menu, .request-market-menu {
	display: inline;
}

#important-popover, #alerts-popover, #confirmations-popover {
	display: inline;
	.popover {
		max-width:400px;
		min-width:400px;
	}
}