.interaction-bar-wrapper {
    .chat-bar, .chat-bar-content-pane, .chat-bar > .chat-content, .chat-bar > .chat-bar-toggle {
        -webkit-transition: width .25s ease-in-out, opacity .25s ease-in-out .25s;
        -o-transition: width .25s ease-in-out, opacity .25s ease-in-out .25s;
        transition: width .25s ease-in-out, opacity .25s ease-in-out .25s;
    }
    .chat-bar {
        @extend .col-auto;
        padding:0px;
        position:relative;
        width: 0px;

        .chat-content {
            background-color: $mm-interaction-bar-bg;
            width:0px;
            opacity: 0;
            height:100%;
            padding:0px;
            display:inline-block;
            margin:0px;
            padding:0px;
            float:left;
            color:#fff;

            overflow: hidden;

            position: relative;

            padding-bottom: 150px;
            margin-bottom: 150px;
        }
        &.active {
            width: $chat-bar-width + $chat-toggle-width;

            /* .chat-bar-toggle {
                width: $chat-toggle-width;
                opacity: 1;
            }
            .chat-content {
                width:$chat-bar-width;
                opacity: 1;
            } */

            .chat-content {
                opacity: 1;
                position: fixed;
                z-index: 1030; //also houses a modal and its hidden if the position is fixed
                width: $chat-bar-width + $chat-toggle-width;

                .chat-bar-toggle {
                    width: $chat-toggle-width;
                    opacity: 1;
                    position: absolute;
                    right: 0 + $chat-bar-width;
                    top: 0;
                }

            }
        }
        .chat-header {
            h3 {
                display: inline-block;
            }
            .close {
                cursor: pointer;
                color: $mm-text-white;
            }
            .icon {
                font-size: 2em;
            }
        }

        .chat-history {
           background-color: $mm-text-white; 
        }

        .chat-action-wrapper {
            width: $chat-bar-width;
            position: absolute;
            bottom: 150px - $trade-footer-height;
            right: 0;
        }
    }
    .chat-bar-content-pane {
        @extend .col;
    }
    .chat-bar-toggle {
        background-color: $mm-interaction-bar-bg;
        width:0px;
        height:100%;
        padding:0px;
        display:inline-block;
        margin:0px;
        padding:0px;
        float:left;
        position: relative;
        opacity: 0;
        color: #fff;

        cursor:pointer;
        
        > .icon {
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -50%;
            font-size: 32px;
        }
    }
}