.interaction-bar, .interaction-bar-content-pane {
    -webkit-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;
}
.interaction-bar-wrapper {
    .interaction-bar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 0%;
        flex: 0 0 0%;
        max-width: 0%;
    }
    .interaction-bar-content-pane {
        @extend .col-12
    }

    &.active {
        .interaction-bar {
            @extend .col-2
        }
        .interaction-bar-content-pane {
            @extend .col-10
        }
    }
}