.trade-section.light-theme {
	.mm-loader {
		/* width:200px;
		height:200px;
		box-sizing:border-box;
		padding-left: 200px;
		background: url($base_url + '/img/loader_light_theme.gif') left top no-repeat; */
	}
}

.trade-section.dark-theme {
	.mm-loader {
		/* width:200px;
			height:200px;
			box-sizing:border-box;
			padding-left: 200px;
			background-image: url($base_url + '/img/loader_dark_theme.gif') left top no-repeat; */	
	}	
}