#mainNav {
	
	background-color: $mm-nav-blue;
	box-shadow: 0px 1px 6px 3px black;

	.nav-item > a {
		color: $mm-white;
		font-weight: bold;

		&:hover {
	    	color: $mm-panel-green;
	  	}
	}

	.nav-item.active > a {
		border-bottom: solid;
	}
}

.nav-title-image {
	span {
		font-size: 3.5rem;
		color: $mm-white;

		&:hover {
	    	color: $mm-panel-green;
	  	}
	}
}