@import './_mm_custom_variables';

html, body{
    height: 100%;
}

body
{
	background-color: $mm-background-dark;
	
	.page-title {
		h1 {
			color: $mm-white;
		}
	}
}

.card {
	border: none;
	box-shadow: 4px 4px 9px 0px $mm-shadow;

	.card-header {
		background-color: $mm-panel;
		border: none;
		
		span.icon {
			color: $mm-white;
		}
	}

	.card-body {
		background-color: $mm-background-light;
		border: none;

		.card-title {
			color: $mm-heading-dark;
		}
		
		.card-text {
			color: $mm-text-dark;
		}

		h1.info-card > .icon {
			color: $mm-info-blue;
		}
	}
}

.info-block {
	box-shadow: 4px 4px 9px 0px $mm-shadow;
	
	.card{
		box-shadow: none;
	}
}

.mm-button {
	  color: $mm-white;
	  background-color: $mm-panel;

	  &:focus,
	  &.focus {
	    color: $mm-white;
	    background-color: darken($mm-panel, 10%);
	  }
	  &:hover {
	    color: $mm-white;
	    background-color: darken($mm-panel, 10%);
	  }
}

.circle-icon-tile {
	.circle-icon-block {
		.icon {
			background-color: $mm-panel;
			color: $mm-white;
			border-radius: 100%;
			font-size: 5em;
		}
	}

	p {
		color: $mm-panel;
	}
}


