
html {
    min-height: 100%;
    position: relative;
}

body
{
	background-color: $mm-background-dark;
	overflow-x: hidden;
	margin-bottom: 65px;

	.page-title h1 {
			color: $mm-white;
			font-family: $mm-font-head;
			font-size:3.5rem;
		}
	
}

.canvas-body
{
	background-color: $mm-trade-background-dark;
	/* background-image: url($base_url + '/img/background.png');
	background-size: cover; */
}

.card {
	border: none;
	box-shadow: 4px 4px 9px -4px #000000;

	.card-header {
		background-color: $mm-panel;
		border: none;
		color:  $mm-white;
		
		a, span.icon {
			color: $mm-white;
		}
		
		span.icon {
			font-size:4rem;
		}

	}

	.card-body {
		background-color: $mm-background-light;
		border: none;
		
		/* .liquidity-img, .feelflow-img{
			padding-left: 2.5em;
			padding-right: 2.5em;
			padding-bottom: 2.5em;
		} */
	
	

		.card-title {
			color: $mm-heading-dark;
			margin-bottom: 0.2em;
			font-family: $mm-font-sub-head;
		}
		
		.card-text {
			color: $mm-text-dark;

			.elec-eff-card-list {
				color: $mm-panel;
				
				font-size: 1.2em;
				
				@media (min-width: 992px) {
					font-size: 1.6em;
				}

				@media (min-width: 768px) {
					font-size: 1.4em;
				}
			}

			.why-us-card {
				p {
					font-size: 1.4em;
					font-family: $mm-font-sub-head;
				}
			}

			.page-form {
				width: 100%;

				@media (min-width: 768px) {
					width: 60%;
				}

				@media (min-width: 992px) {
					width: 40%;
				}
			}
		}

		.info-card {
			.icon {
				color: $mm-info-blue;
				font-size: 2.5em;
			}
		}

		
	}

		a.user-nav-link {
			color: $mm-text-dark;
			font-weight: bold;

			&:hover {
		    	color: $mm-panel-green;
		  	}
		}
}

.info-block {
	box-shadow: 4px 4px 9px -4px #000000;
	
	.card{
		box-shadow: none;

		p {
			font-size: 1.05em;
		/* 	padding-left: 6rem;
			padding-right: 6rem; */
		}
	}
}

.mm-button {
	  color: $mm-white;
	  background-color: $mm-panel;
	  border-color: $mm-panel;

	  &:focus,
	  &.focus {
		color: $mm-white;
		background-color: darken($mm-panel, 10%);
		border-color: darken($mm-panel, 10%);
	  }
	  &:hover {
	    color: $mm-white;
	    background-color: darken($mm-panel, 10%);
		border-color: darken($mm-panel, 10%);

	  }
}

.mm-error-button {
	color: $mm-white;
	background-color: $mm-red;
	border-color: $mm-red;

	&:focus,
	&.focus {
		color: $mm-white;
		background-color: darken($mm-red, 10%);
		border-color: darken($mm-red, 10%);
	}
	&:hover {
		color: $mm-white;
		background-color: darken($mm-red, 10%);
		border-color: darken($mm-red, 10%);
	}
}

.mm-login-button {
	  color: $mm-panel;
	  background-color: $mm-white;

	  &:focus,
	  &.focus {
	    color: $mm-panel;
	    background-color: darken($mm-white, 10%);
	  }
	  &:hover {
	    color: $mm-panel;
	    background-color: darken($mm-white, 10%);
	  }
}

a.mm-login-button {
	font-size: 1.8em;
	font-weight: bold;
	box-shadow: 4px 4px 9px -4px #000000;
}

.mm-footer-button {
	color: $mm-panel;
	  background-color: transparent;
	  border: .2em solid $mm-panel;

	  &:focus,
	  &.focus {
	    color: $mm-panel;
	    background-color: transparent;
	    border-color: darken($mm-panel, 10%);
	  }
	  &:hover {
	    color: $mm-panel;
	    background-color: transparent;
	    border-color: darken($mm-panel, 10%);
	  }
}

.circle-icon-tile {
	.circle-icon-block {
		.icon {
			background-color: $mm-panel;
			color: $mm-white;
			border-radius: 100%;
			font-size: 5em;
		}
	}

	p {
		color: $mm-panel;
	}
}

.home-login {
	.in-line-input {
		border-color: $mm-white;
		position:relative;

		&.email-input:before {
			 /* use !important to prevent issues with browser extensions that change fonts */
			  font-family: 'icomoon' !important;
			  speak: none;
			  font-style: normal;
			  font-weight: normal;
			  font-variant: normal;
			  text-transform: none;
			  line-height: 1;

			  /* Better Font Rendering =========== */
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			content: "\e90a";
			font-size:2em;
			position:absolute;
			top:.27em;
			left:.5em;
			color: $mm-white;
		}

		&.pass-input:before {
			 /* use !important to prevent issues with browser extensions that change fonts */
			  font-family: 'icomoon' !important;
			  speak: none;
			  font-style: normal;
			  font-weight: normal;
			  font-variant: normal;
			  text-transform: none;
			  line-height: 1;

			  /* Better Font Rendering =========== */
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			content: "\e90b";
			font-size:2em;
			position:absolute;
			top:.27em;
			left:.5em;
			color: $mm-white;
		}

		input {
			border-width: .12em;
			line-height: 2em;
			background-color: transparent;
			padding-left:4em;
			-webkit-appearance: none;
			color: $mm-white;

			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    color: $mm-white;
			    opacity: 1; /* Firefox */
			}

			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    color: $mm-white;
			}

			&::-ms-input-placeholder { /* Microsoft Edge */
			    color: $mm-white;
			}
			
			/* &:-webkit-autofill {
				color: $mm-white;
			    border: .12em solid $mm-white;
			    -webkit-box-shadow: inset 0 0 0px 9999px $mm-white;
			}
			
			&:focus,
			&:-webkit-autofill:focus {
			    border-color: #66afe9;
			    -webkit-box-shadow: inset 0 0 0px 9999px $mm-white,
			                        0 0 8px rgba(102, 175, 233, 0.6);
			} */

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
			    transition: background-color 5000s ease-in-out 0s;
			    -webkit-text-fill-color: $mm-white !important;
			}

		}
	}
	a {
		color: $mm-white;
		text-decoration: none;

		&:focus,
		&.focus {
			color: darken($mm-white, 10%);
		}
		&:hover {
	    	color: darken($mm-white, 10%);
	  	}
	}
}

.active-markets {
	color: $mm-white;
	font-family: $mm-font-body-alt;
}


.home-login-block {

	margin-bottom: 5em;
	margin-top: 3em;

	@media (min-width: 1400px) {
		margin-bottom: 15em;
		margin-top: 15em;
	}

	.home-page-title {
		display: inline-block;

		h1 {
			color: $mm-white;
			font-size: 2.2rem;
			font-family: $mm-font-head;
			
			@media (min-width: 576px) {
				font-size: 2.4rem;
			}

			@media (min-width: 1200px) {
				font-size: 3.4rem;
				margin-top: -0.1em;
			}
		}
	}

	.home-login {
		display: inline-block;

		input, a {
			font-family: $mm-font-body;

			font-size: 1.1rem;
		}
	}

}

.title-decorator {
	background-color: $mm-panel;
    width: 4.8em;
    height: .1em;
    margin-top: 0em;
    margin-bottom: 3em;

    &.mm-info {
    	height: .05em;
    }
}

.traders-quote-block {
	color: $mm-white;

	.quote-start {
		font-family: $mm-font-sub-head;
		font-size: 7rem;
		margin-top: -0.23em;
		margin-left: -0.5em;
	}

	.traders-quote {
		font-family: $mm-font-head;
		font-size: 2rem;
		font-style: italic;
	}

	.quote-by {
		font-size: 1rem;
		margin-top: -1em;
	}
}

.home-sub-footer {
	background-color: $mm-footer-grey;
	position: relative;
	
	h3 {
		color: $mm-panel;
		font-family: $mm-font-sub-head;
		font-size: 1.4rem;
	}

	p, .icon {
		color: $mm-white;
		font-size: 0.86rem;
		font-family: $mm-font-sub-head;
	}

	.benefits-block {
		p, span {
			display: inline-block;
		}

		.icon {
			font-size: 1.7rem;
		}
	}

	.footer-sections {

		textarea {
			height: 9em;
		}

		.mm-footer-button {
			width: 100%;
			
			@media (min-width: 768px) {
				width: 60%;
			}

			font-family: $mm-font-sub-head;
		}
	}
}

#main-footer, .home-sub-footer {
	.container {
		padding-left: 5em;
		padding-right: 4em;
	}
}

.user-content {
	margin-bottom: 10em;
}

.site-sub-footer {
	margin-bottom: 4em;
}


#geoBackdrop {
	top: 0px;
	position: fixed; 
	width: 100%; 
	height: 100%;
	z-index: -1;
}

.register-info-group {
	color: $mm-panel;
	font-size: 1em;
	cursor: pointer;
	
	p, span {
		display: inline-block;
	}

	.icon {
		font-size: 1.2rem;
	}
}

.largeCheckBox {

	label {
		display: block;
		padding-left: 0.8em;
		text-indent: -0.8em;
		cursor: pointer;
	}
	input {
		width: 1.2em;
		height: 1.2em;
		padding: 0;
		margin:0;
		vertical-align: bottom;
		position: relative;
		top: -0.2em;
		*overflow: hidden;
		cursor: pointer;
	}
}

.signup-block {
	margin-top: 6em;
	margin-bottom: 3em;
}

.register-info-text {
	
	@media (max-width: 576px) {
		text-align: center;
	}
}

.no-backdrop.form-control {
    border: none;
    background-color: transparent;
}

.mm-menu
{
	.list-group-item.active
	{
		background: $mm-panel;
		border-color: $mm-panel;
		& > a
		{
			color: $mm-white;
		}
	}
}


.toast-holder {
	position: fixed; 
	top: 100px; 
	left: 0px; 
	right: 0px; 
	z-index:999;	
}
.alert-ease-out {
	//This timing applies on the way OUT
  	transition-timing-function: ease-out;

  	//Quick on the way out
	transition: 0.3s;

	//Hide thing by pushing it outside by default
	transform: translateY(-130%);
}


#nprogress .spinner-icon
{
	display: none;
}

input.input-small {
	line-height:0.9em;
	font-size:0.9em;
	padding:1px;
	height: calc(1.5rem + 2px);
}



#trade_app {
	font-size: $mm-font-size;
	.popover.popover-meet-in-middle {

		.popover-header
		{
			background: $mm-modal-header;
			color: $mm-text-white;
		}

		.popover-body {
			.btn-primary {
	            background-color: $ibar-btn-background-primary;
	            color: $ibar-btn-color-primary;
	        }
		}
	}
}

.pagination {
	.page-item > span.page-link, .page-item > a.page-link {
    	border: none;
		background-color: transparent;
		color: $mm-modal-header;
	}
	.page-item.active > a.page-link {
		color: $mm-text-white;
		background-color: $mm-modal-header;
	}
}

/* MEL */

//General
a, a:hover {
	color: $mm-panel;
}

//Table
table.table {
	box-shadow: 3px 4px 10px 0.2px $mm-shadow;
	color: $mm-black;
	border: none;
}

.table thead th {
	color: $mm-text-white;
    background-color: $mm-panel !important;
    border: none;
    font-size: 1.2em;
}

.table tbody td, .table thead th {
	padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}

//Progress Bar
.progress {
	font-size: 1em;
	height: 30px;
}

//Nav Tabs
.nav-link, .nav-link:hover {
	color: $mm-white;
}

.nav-tabs .nav-link.active {
	color: $mm-white;
}

.nav-tabs {
    border: none;
}

//Wells
.well {
    box-shadow: none;
    border: 2px solid #b1b1b3;
    border-radius: 90px;
    background-image: linear-gradient(#d2d2d2, white);
    padding: 15px;
}

//Container
.mm-card {
	border-radius: 5px;
}

.mm-card.card .card-header{
	border-radius: 5px;
}

.mm-card.card .card-body {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 50px;
}

.mm-card.card .card-body .card-text {
	color: $mm-black;
}


[mm-disabled] {
	opacity: 0.65;
	pointer-events:none;
	&input {
		background-color: #afafaf;
    	border-color: #8e8e8e;
	}
	&.btn {
		background-color: #afafaf;
	}
}

.admin-label {
	font-size: .9em;
    color: #d9d9d9 !important;
    &.is-interest {
		color: #81acfc !important
    }
	&.is-maker {
		color: #98f89b !important;
	}
}

.optional-input-prepend {
	.input-group-prepend  > .input-group-text {
	    background-color: $mm-modal-header;
	    border-color: $mm-modal-header;
	}
}
.optional-input-prepend > .input-group-text {
    background-color: $mm-modal-header;
    border-color: $mm-modal-header;
}

.optional-input-prepend {
	input:disabled {
		border: none;
	}
}