@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/vendor/icomoon/icomoon.eot?yllo22');
  src:  url('/fonts/vendor/icomoon/icomoon.eot?yllo22#iefix') format('embedded-opentype'),
    url('/fonts/vendor/icomoon/icomoon.ttf?yllo22') format('truetype'),
    url('/fonts/vendor/icomoon/icomoon.woff?yllo22') format('woff'),
    url('/fonts/vendor/icomoon/icomoon.svg?yllo22#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-man-circle:before {
  content: "\e900";
}
.icon-star-circle:before {
  content: "\e901";
}
.icon-info:before {
  content: "\e902";
}
.icon-money:before {
  content: "\e903";
}
.icon-drop:before {
  content: "\e904";
}
.icon-award:before {
  content: "\e905";
}
.icon-fluid:before {
  content: "\e906";
}
.icon-question:before {
  content: "\e907";
}
.icon-addprofile:before {
  content: "\e908";
}
.icon-profile:before {
  content: "\e909";
}
.icon-lock:before {
  content: "\e90a";
}
.icon-screen:before {
  content: "\e90b";
}
.icon-award2:before {
  content: "\e90c";
}
.icon-graph:before {
  content: "\e90d";
}
.icon-robot:before {
  content: "\e90e";
}
.icon-business:before {
  content: "\e90f";
}
.icon-wifi:before {
  content: "\e910";
}
.icon-cashdown:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-money2:before {
  content: "\e913";
}
.icon-globe:before {
  content: "\e914";
}
.icon-man:before {
  content: "\e915";
}

