$mm-nav-blue: 			#1a333f;
$mm-white: 				#ffffff;
$mm-panel: 				#269a9b;
$mm-panel-light: 		#97d5d7;
$mm-panel-green: 		#3cbdb9;
$mm-panel-dark-green: 	#1c7c74;
$mm-text-dark: 			#57585a;
$mm-heading-dark: 		#1a333f;
$mm-footer-grey: 		#303030;
$mm-footer-black: 		#000000;