#previous_day_body {
    background-color: $mm-background-light;

    .trading-opens {
        font-size: 1.1rem;
        font-weight: lighter;
        color: red;
    }
    .trading-title {
        font-size: 1.3rem;
        font-weight: bold;
    }
}